@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-style::after{
    background-image: url('../public/images/bg-hero-squiggle.svg');
    width: 100%;
    height: 100%;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.free ul li,.paid ul li{
    @apply pl-4;
}
.free ul li::marker{
    content: url('../public/images/icon-check.svg');  
}
.paid ul li::marker{
    content: url('../public/images/icon-check-alt.svg');  
}